.auth {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 margin-top: 150px;
 overflow: hidden;
}

.auth-header {
 font-size: 40px;
 font-family: 'Source Sans Pro', sans-serif;
}

.auth-header-border {
 margin-bottom: 20px;
 border-bottom: 1px solid whitesmoke;
 width: 200%;
}

.auth-inputs {
 padding: 32.5px 25px 25px 25px;
 background-color: rgb(255, 254, 255);
 margin-bottom: 20px;
 box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.24);
}

.auth-input {
 width: 350px;
 margin-bottom: 15px;
 font-family: "Roboto", sans-serif;
 background-color: rgb(255, 254, 255);
}

input:focus {
 -webkit-box-shadow: none !important;
 -moz-box-shadow: none !important;
 box-shadow: none !important;
}

.auth-btn {
 font-weight: bold;
}

.register-link,
.login-link {
 text-decoration: none;
 font-family: 'Roboto Flex', sans-serif;
 font-size: 18px;
}

.login-link {
 margin-top: 10px;
}

.register-link {
 margin-top: -20px;
}

@media screen and (max-width: 425px) {
 .auth {
  margin-top: 135px;
 }
 
 .auth-inputs {
  padding: 22.5px 15px 15px 15px;
 }

 .auth-input {
  width: 250px;
 }

 .register-mobile {
  margin-top: 75px;
 }
}