.modal.right  {
  position: absolute;
  top: -5%;
  left: 33%;
  width: 100vw;
  height: 150vh;
  -webkit-transition: opacity 0.5s ease-in-out 0.5s,
    right 0.5s ease-in-out 0.5s;
  -moz-transition: opacity 0.5s ease-in-out 0.5s,
    right 0.5s ease-in-out 0.5s;
  -o-transition: opacity 0.5s ease-in-out 0.5s,
    right 0.5s ease-in-out 0.5s;
  transition: opacity 0.5s ease-in-out 0.5s, right 0.5s ease-in-out 0.5s;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}

.modal.right .body {
 height: 680px;
 overflow-y: scroll;
}

.modal.right .body {
 padding: 50px 0px 50px 25px;
}

.modal-content {
 border-radius: 0;
 border: none;
}

.modal.right .modal-header {
 border-bottom-color: #EEEEEE;
 background-color: #FAFAFA;
 padding: 25px;
 margin-right: 50px;
 width: 500px;
}