.checkout-form {
 display: flex;
 flex-direction: column;
 align-items: center;
 margin: 50px 150px 0px 150px;
 box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.24);
 padding: 20px 0px 40px 20px;
 background-color: rgb(255, 255, 254);
}

.checkout-form-header {
 margin-bottom: 50px;
 margin-right: 30px;
 font-weight: 500;
 font-size: 25px;
 text-align: center;
}

.checkout-inputs-container {
 display: flex;
 justify-content: center;
 flex-wrap: wrap;
 gap: 5px;
}

.checkout-inputs-row {
 display: flex;
 flex-wrap: wrap;
 gap: 60px;
}

.checkout-input {
 font-family: "Roboto", sans-serif;
 background-color: rgb(255, 254, 255);
}

.form-container {
 display: flex;
 flex-direction: column;
 align-items: center;
 gap: 30px;
}

.form-btn {
 color: #fff !important;
 font-weight: bold;
 border-radius: 15px;
 padding-left: 45px;
 padding-right: 45px;
}

.shipping-form-btns,
.ordering-form-btns {
 display: flex;
 gap: 10px;
}

.ordering-container {
 text-align: center;
}

.checkout-receipt {
 display: flex;
 flex-direction: column;
 margin: auto;
 margin-top: 10px;
 margin-bottom: 20px;
 width: 25%;
 box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.24);
 background-color: rgb(255, 255, 254);
}

.checkout-form-cost-info {
 display: flex;
 flex-direction: column;
}

.checkout-form-costs {
 display: flex;
 justify-content: space-between;
 flex-wrap: wrap;
}

.checkout-form-cost-label {
 margin-left: 8px;
}

.checkout-form-cost {
 margin-top: 2px;
 margin-right: 8px;
}

.checkout-receipt-border {
 border: 1px solid whitesmoke;
 margin: 5px 0px 5px 0px;
}

.checkout-items {
 display: flex;
 flex-direction: column;
}

.checkout-items-label {
 margin: 10px 230px 20px 0px;
}

.checkout-item {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 margin-bottom: 10px;
}

.checkout-item-info {
 display: flex;
 flex-direction: column;
 align-items: flex-end;
 margin-right: 8px;
}

.checkout-img {
 height: 100px;
 width: 100px;
 margin-left: 8px;
}

.checkout-form-info-container-label {
 margin-bottom: 10px;
}

.checkout-form-info-container {
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 margin-top: 10px;
 padding-left: 8px;
}

.checkout-form-info {
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 padding-right: 10px;
 word-wrap: break-word;
}

.order-btn {
 font-weight: bold;
 border-radius: 15px;
}

.ordering-form-btns {
 justify-content: center;
 align-items: center;
}


@media screen and (max-width: 1154px) {

 .checkout-form {
  padding-right: 20px;
 }

 .checkout-form-header {
  margin-left: 10px;
 }

 .checkout-form-cost-label {
  margin-left: 18px;
 }

 .checkout-form-cost {
  margin-left: 15px;
  margin-bottom: 8px;
 }

 .checkout-form-cost-label,
 .checkout-items-label,
 .checkout-form-info-container-label {
  font-size: 12px;
 }

 .checkout-items-label {
  width: 100%;
 }

 .checkout-form-info {
  font-size: 9px;
  font-weight: bold;
 }
}