.checkout-form {
 display: flex;
 flex-direction: column;
 align-items: center;
 margin: 50px 150px 0px 150px;
 box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.24);
 padding: 20px 0px 40px 20px;
 background-color: rgb(255, 255, 254);
}

.checkout-form-header {
 margin-bottom: 50px;
 margin-right: 30px;
 font-weight: 500;
 font-size: 25px;
 text-align: center;
}

.checkout-inputs-container {
 display: flex;
 justify-content: center;
 flex-wrap: wrap;
 gap: 5px;
}

.checkout-inputs-row {
 display: flex;
 flex-wrap: wrap;
 gap: 60px;
}

.checkout-input {
 font-family: "Roboto", sans-serif;
 background-color: rgb(255, 254, 255);
}

.form-container {
 display: flex;
 flex-direction: column;
 align-items: center;
 gap: 30px;
}

.form-btn {
 color: #fff !important;
 font-weight: bold;
 border-radius: 15px;
 padding-left: 45px;
 padding-right: 45px;
}

.shipping-form-btns,
.ordering-form-btns {
 display: flex;
 gap: 10px;
}

.ordering-container {
 text-align: center;
}

.checkout-receipt {
 display: flex;
 flex-direction: column;
 margin-top: 10px;
 margin-bottom: 20px;
}

.checkout-form-cost-info {
 display: flex;
 flex-direction: column;
}

.checkout-form-costs {
 display: flex;
 justify-content: space-between;
}

.checkout-form-cost-label {
 margin-left: 8px;
}

.checkout-form-cost {
 margin-top: 2px;
 margin-right: 8px;
}

.checkout-receipt-border {
 border: 1px solid whitesmoke;
 margin: 5px 0px 5px 0px;
}

.checkout-items {
 display: flex;
 flex-direction: column;
}

.checkout-items-label {
 text-align: center;
 margin-bottom: 20px;
}

.checkout-item {
 display: flex;
 justify-content: space-between;
 margin-bottom: 10px;
}

.checkout-item-info {
 display: flex;
 flex-direction: column;
 align-items: flex-end;
 margin-right: 8px;
}

.checkout-img {
 height: 100px;
 width: 100px;
 margin-left: 8px;
 border-radius: 15px;
}

.checkout-form-info-container-label {
 margin-bottom: 10px;
}

.checkout-form-info-container {
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 margin-top: 10px;
 padding-left: 8px;
}

.checkout-form-info {
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 padding-right: 10px;
}

.order-btn {
 font-weight: bold;
 border-radius: 15px;
}

.ordering-form-btns {
 justify-content: center;
 align-items: center;
}

@media screen and (max-width: 1154px) {
 .checkout-form {
  padding-right: 20px;
 }

 .checkout-form-header {
  margin-left: 10px;
 }
}

@media screen and (max-width: 785px) {
 .checkout-form {
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 10px;
 }

 .checkout-inputs-container,
 .checkout-inputs-row {
  flex-wrap: nowrap;
  flex-direction: column;
 }

 .checkout-inputs-container {
  gap: 0px;
 }
 
 .checkout-inputs-row {
  gap: 5px;
  margin-top: -5px;
 }

 .checkout-form-header {
  margin-right: 10px;
 }

 .checkout-form-input {
  display: flex;
  flex-direction: column;
  align-items: center;
 }

 .checkout-form-input-label {
  margin-bottom: 10px;
 }

 .checkout-input {
  width: 250px;
 }
}

@media screen and (max-width: 564px) {
 .checkout-form {
  padding: 20px 80px;
 }

 .checkout-form-header {
  font-size: 20px;
 }
}

@media screen and (max-width: 425px) {
 .checkout-form {
  padding: 20px 35px;
 }

 .checkout-form-header {
  margin-bottom: 30px;
  padding-top: 10px;
 }

 .checkout-input {
  width: 200px;
 }

 .shipping-form-btns,
 .ordering-form-btns {
  flex-direction: column;
  gap: 15px;
 }

 .ordering-form-btns > button {
  width: 50%;
  padding: 10px;
 }
}