.navbar {
 margin-top: -20px;
 overflow: hidden;
}

.navbar-container {
 font-family: "Source Sans Pro", sans-serif;
 font-size: 18px;
}

.seinfeld-logo {
 height: 75px;
 width: 75px;
}

.nav-items {
 display: flex;
 align-items: center;
 gap: 20px;
 margin-top: 5px;
}

.nav-item {
 cursor: pointer;
}

.nav-item > p {
 color: #949393;
}

.nav-item > p:hover,
.shopping-cart:hover {
 color: #000;
}

.shopping-cart {
 display: flex;
 justify-content: center;
 gap: 5px;
 color: #949393;
}

.quantity {
 font-size: 18px;
}