.orders-page-container {
 font-family: "Open Sans", sans-serif;
}

.no-orders-msg {
 text-align: center;
 margin-top: 250px;
}

table {
 margin: auto;
 white-space: nowrap;
}

thead > tr > th,
tfoot > tr > td {
 border: none !important;
}

.ordered-items-header {
 text-decoration: underline;
 text-align: end;
 white-space: nowrap;
}

tbody > tr > td {
 padding: 20px !important;
 white-space: nowrap;
}

.ordered-item-img {
 height: 100px;
 width: 100px;
 border-radius: 15px;
}

.ordered-items-footer {
 padding-bottom: 150px !important;
}

@media screen and (max-width: 768px) {
 .ordered-items-header {
  text-align: start;
  width: 120px;
  margin-left: 150px;
 }

 tbody > tr > td {
  padding: 8px !important;
 }
}

@media screen and (max-width: 425px) {
 .no-orders-msg {
  margin-top: 150px;
 }
}