table {
 margin: auto;
 font-family: "Open Sans", sans-serif;
}

thead > tr > td,
tfoot > tr > td {
 border: none !important;
}

.ordered-items-header {
 text-decoration: underline;
 text-align: end;
}

tbody > tr > td {
 padding: 20px !important;
}

.ordered-item-img {
 height: 100px;
 width: 100px;
 border-radius: 15px;
}

.ordered-items-footer {
 padding-bottom: 150px !important;
}

@media screen and (max-width: 768px) {
 .ordered-items-header {
  width: 350px;
 }

 tbody > tr > td {
  border: 1px solid black;
  padding: 0px !important;
  width: 10px;
 }
}