.search-input-container {
 display: flex;
 align-items: center;
 flex: 0.4;
 background-color: whitesmoke;
 border: 1px solid whitesmoke;
 padding: 10px;
 border-radius: 5px;
 width: 50%;
 margin-top: 20px;
}

.search-input-container > .MuiSvgIcon-root {
 color: gray;
}

.search-input-container > input {
 border: none;
 width: 100%;
 padding: 5px;
 outline: none;
 font-size: medium;
 background-color: transparent;
}

.results-msg {
 margin-top: 20px;
 font-family: "Source Sans Pro", sans-serif;
 font-size: 28px;
}

.shopping-page-container {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.items-container {
 display: flex;
 flex-wrap: wrap;
 gap: 35px;
 margin: 35px 0px 35px 150px;
}

.item-container {
 background-color: whitesmoke;
 padding: 45px;
 padding-bottom: 10px;
 border-radius: 15px;
 height: 450px;
 width: 350px;
 display: flex;
 flex-direction: column;
 align-items: center;
}

.item-img {
 margin-top: 20px;
 height: 200px;
 width: 200px;
 margin-bottom: 20px;
 border-radius: 15px;
}

.item {
 display: flex;
 flex-direction: column;
 text-align: center;
 gap: 10px;
 color: #000000;
}

.item > button {
 width: 300px;
 border-radius: 15px;
}

.at-most-three-items {
 margin-right: 140px;
}

@media screen and (max-width: 550px) {
 .items-container {
  margin-right: 150px;
 }
}